* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif; }

/*------------------*\
Grille
\*------------------*/
.container-fluid {
  width: 100%;
  box-sizing: border-box; }

  .container {
    width: 80%;
    margin: 0 auto;
    box-sizing: border-box; }

    .col-xs-1, .col-md-1, .col-mid-1, .col-xs-2, .col-md-2, .col-mid-2, .col-xs-3, .col-md-3, .col-mid-3, .col-xs-4, .col-md-4, .col-mid-4, .col-xs-5, .col-md-5, .col-mid-5, .col-xs-6, .col-md-6, .col-mid-6, .col-xs-7, .col-md-7, .col-mid-7, .col-xs-8, .col-md-8, .col-mid-8, .col-xs-9, .col-md-9, .col-mid-9, .col-xs-10, .col-md-10, .col-mid-10, .col-xs-11, .col-md-11, .col-mid-11, .col-xs-12, .col-md-12, .col-mid-12 {
      float: left;
      min-height: 1px; }

      .row:before, .row:after {
        content: "";
        display: table; }
        .row:after {
          clear: both; }
          .row {
            zoom: 1; }

            .col-xs-1 {
              width: 8.33333%; }

              .col-xs-2 {
                width: 16.66667%; }

                .col-xs-3 {
                  width: 25%; }

                  .col-xs-4 {
                    width: 33.33333%; }

                    .col-xs-5 {
                      width: 41.66667%; }

                      .col-xs-6 {
                        width: 50%; }

                        .col-xs-7 {
                          width: 58.33333%; }

                          .col-xs-8 {
                            width: 66.66667%; }

                            .col-xs-9 {
                              width: 75%; }

                              .col-xs-10 {
                                width: 83.33333%; }

                                .col-xs-11 {
                                  width: 91.66667%; }

                                  .col-xs-12 {
                                    width: 100%; }

                                    @media only screen and (min-width: 480px) {
                                      .col-sm-1 {
                                        width: 8.33333%; }

                                        .col-sm-2 {
                                          width: 16.66667%; }

                                          .col-sm-3 {
                                            width: 25%; }

                                            .col-sm-4 {
                                              width: 33.33333%; }

                                              .col-sm-5 {
                                                width: 41.66667%; }

                                                .col-sm-6 {
                                                  width: 50%; }

                                                  .col-sm-7 {
                                                    width: 58.33333%; }

                                                    .col-sm-8 {
                                                      width: 66.66667%; }

                                                      .col-sm-9 {
                                                        width: 75%; }

                                                        .col-sm-10 {
                                                          width: 83.33333%; }

                                                          .col-sm-11 {
                                                            width: 91.66667%; }

                                                            .col-sm-12 {
                                                              width: 100%; } }
                                                              @media only screen and (min-width: 768px) {
                                                                .col-md-1 {
                                                                  width: 8.33333%; }

                                                                  .col-md-2 {
                                                                    width: 16.66667%; }

                                                                    .col-md-3 {
                                                                      width: 25%; }

                                                                      .col-md-4 {
                                                                        width: 33.33333%; }

                                                                        .col-md-5 {
                                                                          width: 41.66667%; }

                                                                          .col-md-6 {
                                                                            width: 50%; }

                                                                            .col-md-7 {
                                                                              width: 58.33333%; }

                                                                              .col-md-8 {
                                                                                width: 66.66667%; }

                                                                                .col-md-9 {
                                                                                  width: 75%; }

                                                                                  .col-md-10 {
                                                                                    width: 83.33333%; }

                                                                                    .col-md-11 {
                                                                                      width: 91.66667%; }

                                                                                      .col-md-12 {
                                                                                        width: 100%; } }
                                                                                        @media only screen and (min-width: 1024px) {
                                                                                          .col-lg-1 {
                                                                                            width: 8.33333%; }

                                                                                            .col-lg-2 {
                                                                                              width: 16.66667%; }

                                                                                              .col-lg-3 {
                                                                                                width: 25%; }

                                                                                                .col-lg-4 {
                                                                                                  width: 33.33333%; }

                                                                                                  .col-lg-5 {
                                                                                                    width: 41.66667%; }

                                                                                                    .col-lg-6 {
                                                                                                      width: 50%; }

                                                                                                      .col-lg-7 {
                                                                                                        width: 58.33333%; }

                                                                                                        .col-lg-8 {
                                                                                                          width: 66.66667%; }

                                                                                                          .col-lg-9 {
                                                                                                            width: 75%; }

                                                                                                            .col-lg-10 {
                                                                                                              width: 83.33333%; }

                                                                                                              .col-lg-11 {
                                                                                                                width: 91.66667%; }

                                                                                                                .col-lg-12 {
                                                                                                                  width: 100%; } }
/*------------------*\
Navbar
\*------------------*/
.portrait {
  border-radius: 50%;
  background-image: url("../img/portrait.png");
  background-position-x: -7px;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  margin-bottom: 10px;
  margin-top: 50px; }

  .div--profil {
    text-align: center;
    margin-bottom: 50px;
    margin-top: 20px; }

    .profil {
      width: 100%;
      margin: 0 auto;
      margin-bottom: 20px;
      color: white; }

      .navbar {
        height: 100%;
        background-color: #282828;
        position: absolute;
        width: 18%;
        z-index: 9; }

        .navbar-item {
          width: 100%;
          color: white;
          padding: 5px;
          padding-top: 10px;
          padding-bottom: 10px;
          opacity: 0.8;
          border-bottom: 1px solid rgba(255, 255, 255, 0.8);
          padding-left: 40px;
          padding-right: 2px;
          border-radius: 0;
          -webkit-transition: padding-left 1s, background-color 1s, width 1s, -webkit-transform 1s; }
          .navbar-item:hover {
            opacity: 1;
            width: 115%;
            background-color: #282828;
            padding-left: 65px;
            padding-right: 25px;
            -webkit-transform: skew(-30deg); }

            .navbar-item p {
              -webkit-transition: -webkit-transform 1s;
              -webkit-transform: skew(0deg); }

              .navbar-item p:hover {
                -webkit-transition: -webkit-transform 1s;
                -webkit-transform: skew(30deg); }

                .PSactive {
                  -webkit-transition: padding-left 1s, background-color 1s, width 1s, -webkit-transform 1s;
                  background-color: rgba(68, 68, 68, 0.8);
                  border-bottom: 1px solid #bf3922; }

                  .contact {
                    color: white; }

                    .contactMe {
                      margin-top: 50px;
                      padding: 8px;
                      border: 2px solid #282828; }
                      .contactMe:hover {
                        border: 2px solid white; }

                        @media only screen and (max-width: 850px) {
                          .navbar-nav:first-child {
                            display: none; }

                            .list--profil, .portrait, .profil {
                              display: none; }

                              .navbar-icon {
                                position: relative;
                                display: block;
                                float: left;
                                width: 50px;
                                height: 50px;
                                cursor: pointer;
                                margin: auto 0; }
                                .navbar-icon:after {
                                  content: "";
                                  position: absolute;
                                  display: block;
                                  width: 16px;
                                  height: 0px;
                                  left: 15px;
                                  top: 5px;
                                  box-shadow: 0 10px 0 1px white, 0 16px 0 1px white, 0 22px 0 1px white;
                                  z-index: 99; }

                                  .navbar {
                                    width: 100%;
                                    height: 50px;
                                    z-index: 9; }

                                    .navbar-nav {
                                      background-color: #282828;
                                      position: relative;
                                      display: block;
                                      left: 0;
                                      top: 0;
                                      width: 100%;
                                      transform: translateY(-355px);
                                      z-index: 1; }
                                      .navbar-nav li {
                                        display: block;
                                        padding: 5px;
                                        background-color: #282828;
                                        border-bottom: 1px solid white;
                                        padding-left: 150px; }
                                        .navbar-nav li:hover {
                                          padding-left: 175px; }

                                          .sidebar .navbar-nav {
                                            transform: translateY(-11px); } }
/*------------------*\
Slider
\*------------------*/
.slider-container {
  width: 82%;
  height: 100%;
  margin-left: 18%;
  position: absolute; }

  .pageSlide {
    display: none; }

    .PSactive {
      display: block; }

      .contain-page {
        height: 100%;
        width: 90%;
        margin: 0 auto;
        text-align: center; }

        @media only screen and (max-width: 850px) {
          .slider-container {
            padding-top: 50px;
            margin-left: 0%;
            width: 100%;
            z-index: 5; } }
/*------------------*\
Contenu Slider
\*------------------*/
#pageAccueil {
  height: 100%;
  padding-top: -10px;
  background: url("../img/fond.png") no-repeat;
  opacity: 0.9;
  background-size: cover; }

  .accueil-title {
    position: absolute;
    right: 150px;
    top: 150px;
    color: white;
    font-size: 1.9em; }

    #accueil-title-p {
      font-family: 'Capture it';
      text-shadow: 4px 4px 4px rgba(250, 250, 250, 0.2); }

      .accueil-descrip {
        position: absolute;
        left: 150px;
        bottom: 140px;
        color: white;
        font-size: 0.9em; }

        .accueil-padding-p {
          padding-left: 50px;
          font-size: 0.95em; }

          @media only screen and (max-width: 850px) {
            .contain-page {
              width: 100%; }

              #pageAccueil {
                background-size: cover; } }
                #pageAbout {
                  height: 100%;
                  padding-top: -10px;
                  background: url("../img/fondAbout.png") no-repeat;
                  opacity: 0.9;
                  background-size: cover; }

                  .about-title {
                    font-family: 'Capture it';
                    text-shadow: 4px 4px 4px rgba(250, 250, 250, 0.2);
                    margin-bottom: 15px;
                    padding-left: 20px; }

                    .desc-li {
                      width: 100px;
                      margin-right: 5px; }

                      .about-pro-profil {
                        width: 40%;
                        position: absolute;
                        left: 120px;
                        bottom: 80px;
                        color: white;
                        text-align: justify; }

                        .about-desc {
                          position: absolute;
                          right: 150px;
                          top: 60px;
                          color: white;
                          text-align: left; }
                          .about-desc ul li {
                            display: flex;
                            list-style: none;
                            padding: 5px; }

                            @media only screen and (max-width: 850px) {
                              .contain-page {
                                width: 100%; }

                                #pageAbout {
                                  background-size: cover; } }
                                  #pageExp {
                                    height: 100%;
                                    padding-top: -10px;
                                    background: url("../img/fondExp.png") no-repeat;
                                    opacity: 0.9;
                                    background-size: cover; }

                                    .exp-comp {
                                      position: absolute;
                                      right: 20%;
                                      top: 150px;
                                      color: white; }
                                      .exp-comp ul li {
                                        list-style: none;
                                        display: flex;
                                        padding: 5px; }

                                        .comp-list {
                                          width: 150px;
                                          text-align: left; }

                                          .barre-total {
                                            width: 150px;
                                            margin-left: 10px;
                                            background-color: #8097a4; }

                                            #barre-comp1 {
                                              width: 80%;
                                              background-color: #014660;
                                              color: #014660; }

                                              #barre-comp3 {
                                                width: 70%;
                                                background-color: #014660;
                                                color: #014660; }

                                                #barre-comp4 {
                                                  width: 70%;
                                                  background-color: #014660;
                                                  color: #014660; }

                                                  #barre-comp5 {
                                                    width: 70%;
                                                    background-color: #014660;
                                                    color: #014660; }

                                                    #barre-comp6 {
                                                      width: 25%;
                                                      background-color: #014660;
                                                      color: #014660; }

                                                      .exp-title {
                                                        font-family: 'Capture it';
                                                        text-shadow: 4px 4px 4px rgba(250, 250, 250, 0.2);
                                                        margin-bottom: 15px; }

                                                        .exp-list {
                                                          position: absolute;
                                                          left: 150px;
                                                          bottom: 120px;
                                                          color: white;
                                                          text-align: left; }
                                                          .exp-list ul li {
                                                            list-style: none; }

                                                            .other-list {
                                                              position: relative;
                                                              background-color: #282828;
                                                              border-radius: 5px;
                                                              color: white;
                                                              padding: 2px 5px;
                                                              text-align: left; }

                                                              @media only screen and (max-width: 850px) {
                                                                .contain-page {
                                                                  width: 100%; }

                                                                  #pageExp {
                                                                    background-size: cover; } }
                                                                    #pageHobby {
                                                                      height: 100%;
                                                                      padding-top: -10px;
                                                                      background: url("../img/fondHobby.png") no-repeat;
                                                                      opacity: 0.9;
                                                                      background-size: cover; }

                                                                      .hobby-title {
                                                                        font-family: 'Capture it';
                                                                        text-shadow: 4px 4px 4px rgba(250, 250, 250, 0.2);
                                                                        margin-bottom: 15px;
                                                                        padding-left: 20px; }

                                                                        .hobby-desc {
                                                                          width: 40%;
                                                                          position: absolute;
                                                                          left: 150px;
                                                                          top: 60px;
                                                                          color: white;
                                                                          text-align: justify; }
                                                                          .hobby-desc p {
                                                                            font-size: 0.9em;
                                                                            line-height: 1.8; }

                                                                            .hobby-lang {
                                                                              position: absolute;
                                                                              right: 150px;
                                                                              bottom: 60px;
                                                                              color: white;
                                                                              text-align: justify; }

                                                                              @media only screen and (max-width: 850px) {
                                                                                .contain-page {
                                                                                  width: 100%; }

                                                                                  #pageHobby {
                                                                                    background-size: cover; }

                                                                                    .hobby-desc {
                                                                                      width: 60%;
                                                                                      height: 30%;
                                                                                      overflow: auto;
                                                                                      padding: 15px; } }
                                                                                      #pageCoordonnees {
                                                                                        height: 100%;
                                                                                        padding-top: -10px;
                                                                                        background: url("../img/fondCoor1.png") no-repeat;
                                                                                        opacity: 0.9;
                                                                                        background-size: cover; }

                                                                                        #pageCoordonnees2 {
                                                                                          height: 100%;
                                                                                          padding-top: -10px;
                                                                                          background: url("../img/fondCoor1.png") no-repeat;
                                                                                          opacity: 0.9;
                                                                                          background-size: cover; }

                                                                                          .coortitle {
                                                                                            font-family: 'Capture it';
                                                                                            text-shadow: 4px 4px 4px rgba(250, 250, 250, 0.2);
                                                                                            margin-bottom: 15px;
                                                                                            padding-left: 20px; }

                                                                                            .coor-desc {
                                                                                              position: absolute;
                                                                                              left: 100px;
                                                                                              bottom: 240px;
                                                                                              color: white;
                                                                                              text-align: justify; }
                                                                                              .coor-desc ul li {
                                                                                                list-style: none;
                                                                                                display: flex;
                                                                                                padding: 5px; }

                                                                                                .coor-cv {
                                                                                                  position: absolute;
                                                                                                  left: 100px;
                                                                                                  bottom: 100px;
                                                                                                  color: white; }

                                                                                                  a {
                                                                                                    color: white; }

                                                                                                    .info {
                                                                                                      width: 120px;
                                                                                                      padding-right: 20px; }

                                                                                                      #pageContact {
                                                                                                        height: 100%;
                                                                                                        padding-top: -10px;
                                                                                                        background: url("../img/fondContact.png") no-repeat;
                                                                                                        opacity: 0.9;
                                                                                                        background-size: cover; }

                                                                                                        .contact-title {
                                                                                                          font-family: 'Capture it';
                                                                                                          text-shadow: 4px 4px 4px rgba(250, 250, 250, 0.2);
                                                                                                          margin-bottom: 15px;
                                                                                                          padding-left: 20px; }

                                                                                                          .contact-form {
                                                                                                            width: 40%;
                                                                                                            position: absolute;
                                                                                                            top: 20%;
                                                                                                            left: 30%;
                                                                                                            color: white;
                                                                                                            text-align: left; }

                                                                                                            .form {
                                                                                                              width: 100%; }

                                                                                                              .part-form {
                                                                                                                width: 100%;
                                                                                                                height: 30px;
                                                                                                                margin: 5px 0;
                                                                                                                color: black;
                                                                                                                background-color: white;
                                                                                                                padding: 2px; }
                                                                                                                .part-form:hover {
                                                                                                                  background-color: #a9adb4; }

                                                                                                                  #msg-form {
                                                                                                                    width: 100%;
                                                                                                                    height: 150px;
                                                                                                                    margin: 5px 0;
                                                                                                                    color: black;
                                                                                                                    padding: auto 2px;
                                                                                                                    background-color: white; }
                                                                                                                    #msg-form:hover {
                                                                                                                      background-color: #a9adb4;
                                                                                                                      border: 1px solid #a9adb4; }

                                                                                                                      .submit-form {
                                                                                                                        width: 100%;
                                                                                                                        margin: 5px 0;
                                                                                                                        height: 30px;
                                                                                                                        color: black;
                                                                                                                        background-color: white;
                                                                                                                        border: 1px solid white; }

                                                                                                                        #result {
                                                                                                                          text-align: center;
                                                                                                                          padding: 5px 0; }

                                                                                                                          #envoyer:hover {
                                                                                                                            background-color: #a9adb4;
                                                                                                                            border: 1px solid #a9adb4; }

                                                                                                                            #result {
                                                                                                                              display: none; }

                                                                                                                              @media only screen and (max-width: 850px) {
                                                                                                                                .contain-page {
                                                                                                                                  width: 100%; }

                                                                                                                                  #pageContact {
                                                                                                                                    background-size: cover; } }
                                                                                                                                    #pageMyProject {
                                                                                                                                      height: 100%;
                                                                                                                                      padding-top: -20px;
                                                                                                                                      background: url("../img/fondProjet.png") no-repeat;
                                                                                                                                      opacity: 0.9;
                                                                                                                                      background-size: cover; }

                                                                                                                                      .tab-list {
                                                                                                                                        display: flex;
                                                                                                                                        padding-top: 50px; }

                                                                                                                                        .tab-list li {
                                                                                                                                          list-style: none;
                                                                                                                                          padding: 0 10px;
                                                                                                                                          color: white; }

                                                                                                                                          .tab-pane {
                                                                                                                                            width: 90%;
                                                                                                                                            padding: 5px;
                                                                                                                                            display: none;
                                                                                                                                            color: white;
                                                                                                                                            text-align: justify; }

                                                                                                                                            .active {
                                                                                                                                              display: block;
                                                                                                                                              height: 100%;
                                                                                                                                              text-align: justify; }

                                                                                                                                              .tab-content {
                                                                                                                                                padding: 10px;
                                                                                                                                                text-align: justify;
                                                                                                                                                width: 100%;
                                                                                                                                                height: 90%;
                                                                                                                                                border-top: 2px solid #04416e; }

                                                                                                                                                .project-title {
                                                                                                                                                  font-family: 'Capture it';
                                                                                                                                                  text-shadow: 4px 4px 4px rgba(250, 250, 250, 0.2);
                                                                                                                                                  margin-bottom: 15px;
                                                                                                                                                  margin-left: 75px; }

                                                                                                                                                  .text-desc {
                                                                                                                                                    padding: 15px;
                                                                                                                                                    margin-bottom: 50px; }

                                                                                                                                                    .puissance4-a {
                                                                                                                                                      text-decoration: none;
                                                                                                                                                      margin-left: 150px;
                                                                                                                                                      border: 2px solid white;
                                                                                                                                                      border-radius: 15px;
                                                                                                                                                      padding: 15px; }

                                                                                                                                                      #puissance4:hover {
                                                                                                                                                        border: 3px solid #04416e; }

                                                                                                                                                        .imgscreen {
                                                                                                                                                          width: 50%;
                                                                                                                                                          float: left;
                                                                                                                                                          margin: 15px; }

                                                                                                                                                          .text-desc a {
                                                                                                                                                            text-decoration: none; }
                                                                                                                                                            .text-desc a:hover {
                                                                                                                                                              color: #04416e; }

                                                                                                                                                              .text-desc ul li {
                                                                                                                                                                list-style: none;
                                                                                                                                                                padding-left: 20px; }

                                                                                                                                                                .tab-list .active {
                                                                                                                                                                  background-color: white;
                                                                                                                                                                  color: #04416e;
                                                                                                                                                                  z-index: 99;
                                                                                                                                                                  text-align: center;
                                                                                                                                                                  margin-right: -40px;
                                                                                                                                                                  padding-left: 20px;
                                                                                                                                                                  padding-right: 20px;
                                                                                                                                                                  opacity: 1; }

                                                                                                                                                                  .onglet-item {
                                                                                                                                                                    background-color: #04416e;
                                                                                                                                                                    padding-top: 5px;
                                                                                                                                                                    padding-left: 20px;
                                                                                                                                                                    padding-right: 20px;
                                                                                                                                                                    border-radius: 15px 15px 0 0;
                                                                                                                                                                    z-index: 9;
                                                                                                                                                                    opacity: 0.8;
                                                                                                                                                                    text-align: center;
                                                                                                                                                                    margin-right: -40px; }

                                                                                                                                                                    #github {
                                                                                                                                                                      position: absolute;
                                                                                                                                                                      top: 30px;
                                                                                                                                                                      right: 30px; }

                                                                                                                                                                      @media only screen and (max-width: 850px) {
                                                                                                                                                                        .contain-page {
                                                                                                                                                                          width: 100%; } }

                                                                                                                                                                          /*# sourceMappingURL=style.css.map */
